<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">¡Bienvenido!</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Aretes</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted"> Un arete puede tener diferentes formas, tamaños y estar hecho de una gran variedad de materiales. 
                            También puede referirse a una palabra griega que describe la excelencia de una persona o cosa. 
                            Como al nombre de una reina presente en la mitología griega que era descendiente de Poseidón</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pulseras</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Las Pulseras son elementos usados en la muñeca y que le brindan gran clase
                            a las personas que las portan.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Anillos</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Los Anillos son usados para todas las ocasiones para recordar 
                            eventos trascendentales de la vida.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Collares</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Heredados de los antiguos Reinos, son un elemento de gran belleza principalmente
                            usados por las damas.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Trabaja
                        <br />
                        con
                        <br />
                        Nosotros!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>